{#
    SPDX-FileCopyrightText: 2025 Pierre-Noel Bouteville  <pnb990@gmail.com>

    SPDX-License-Identifier: BSD-3-Clause
#}
{% extends "base.j2" %}
{% block extra_layers %}
# Forgejo layers
RUN apt-get update && apt-get install -y nodejs npm ssh-agent
RUN npm install -g forgejo-cli
{% endblock %}
